
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="square text-center d-flex flex-column justify-content-center align-items-center position-relative">
    <h3 class="position-absolute top-left">Viaje a tal lugar</h3>
    <div class="container mt-4">
      <div class="form-group">
        <label for="presupuesto" class="form-label">Presupuesto</label>
        <input id="presupuesto" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="otro" class="form-label">Otro Campo</label>
        <input id="otro" class="form-control" type="text" readonly>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary btn-lg mx-2" routerLink="">Regresar</button>
        <button class="btn btn-primary btn-lg mx-2">Siguiente</button>
      </div>
    </div>
  </div>
</div>
